<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-pull-3">
      <div ng-controller="WinesIndexCtrl">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Year</th>
              <th>Grapes</th>
              <th>Country</th>
              <th>Region</th>
              <th>Price</th>
              <th>Description</th>
              <th>Picture</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="wine in wines">
              <td><a href="/wines/{{wine.id}}">{{wine.name}}</a></td>
              <td>{{wine.year}}</td>
              <td>{{wine.grapes}}</td>
              <td>{{wine.country}}</td>
              <td>{{wine.region}}</td>
              <td>{{wine.price}}</td>
              <td>{{wine.description}}</td>
              <td>{{wine.picture}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
